<div class="mb-5 d-flex justify-content-between main-loop-card">
	<div class="col-md-9 pr-3">
		<h2 class="mb-1 h5 font-weight-bold">
		<a class="text-dark" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
		</h2>
		<p class="excerpt">
		   {{ post.content | strip_html | strip_newlines | truncate: 100}}
		</p>
		<small class="text-muted">
			{{ post.date | date: '%Y년 %m월 %d일' }}
		</small>
	</div>
	<div class="col-md-3 pr-0 text-right">
		<a href="{{site.baseurl}}{{post.url}}">
			{% if post.image %}
			<div class="image" style="background-image: url('{{ post.image }}')"></div>
			{% else %}
			<div class="image" style="background-image: url('assets/images/default_thumbnail.png')"></div>
			{% endif %}
		</a>
	</div>
</div>
